$sky-blue: #2B99FF;
$earth-green: #67A256;
$slate-grey: #545454;
$dismiss-yellow: #f9ec31;



body {
	margin: 0;
	padding: 0;
	background-color: $sky-blue;
	overflow: hidden;
	background-repeat:  repeat;
}



