$sky-blue: #2B99FF;
$earth-green: #67A256;
$slate-grey: #545454;
$dismiss-yellow: #f9ec31;
$magenta: #7F007F;



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
    font-size: 17px;
    color: #fff;

}

#portfolio-outer {}

.message {
    display: inline-block;
    padding: 12px 24px;
    border-radius: 11px;
    font-family: Roboto;
    width: auto;
    
}

.user-message {

    float: right;
    display: inline-block;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 65%;
    overflow: hidden;
    text-align: right;
    .message {
        background: $sky-blue;
    }
}

.bot-message {
    float: left;
    text-align: left;
    margin-bottom: 20px;
    width: 65%;
    .message {
        background: $magenta;
    }
}



.bot-message:after {
 
    z-index: -1;
    content: "";
    position: relative;
    bottom: 10px;
    left: 10px;
    border-width: 25px 22px 0;
    border-style: solid;
    border-color: $magenta transparent;
    display: block;
    width: 0;
}

.user-message:after {
    

    z-index: -1;
    content: "";
    position: relative;
    bottom: 10px;
    right: -88%;
    
    border-width: 20px 18px 0;
    border-style: solid;
    border-color: $sky-blue transparent;
    display: block;
    width: 0;
}
